<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <style>
        #num-question-btn{
            margin-top:10px;
        }
        a,a:hover{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav style="background-color: #2e6da4;width:100%;color:white">
    <div class="row">
    <span class="logo navbar-brand pull-left">
        Quiz !t
    </span>
            <span style="color:pink;font-family:cursive;" class="col-sm-offset-4" >
                <span class="glyphicon glyphicon-user"></span>
                <span >{{user.username }}</span>
            </span>
                <a href="{% url 'log_out'%}" id="log-out" style="text-decoration: none;color:white">Log out</a>
           
            <span class="col-sm-4"></span>
    </div>
</nav>
{% for i in con %}

<div class="row" id="question-display">
    <span class="row"></span>
        <div class="panel panel-default col-sm-8 col-sm-offset-2">
            <div class="panel-heading h2 question-place">
                <span class="q">{{i.question}}</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item h3"><input type="radio" id="op" name='a' value='{{i.otion1}}'> {{i.option1}}</li>
                    <li class="list-group-item h3"><input type="radio" id="op" name='a' value='{{i.otion2}}'>  {{i.option2}}</li>
                    <li class="list-group-item h3"><input type="radio" id="op" name='a' value='{{i.otion3}}'> {{i.option3}}</span></li>
                    <li class="list-group-item h3"><input type="radio" id="op" name='a'value='{{i.otion4}}'> {{i.option4}}</li>
                    <input type="hidden" id="option-answer" value="{{i.answer}}" />
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
<button onclick=result() class="btn btn-default" id="verify"><span class="before">Get Score</span></span></button>
<style>
    body{
        
        counter-reset: my-sec-counter;
    }
      
      .q::before {
        counter-increment: my-sec-counter;
        content: counter(my-sec-counter) ".";
      }
</style>
</body>
<script>  
   function result(){
    var el=document.getElementById('op');
    for(var i=0;i<a.length;i++){
        if(el[i].checked==true){
            alert('hi')
        }
    }
   }
</script>
</html>